<!DOCTYPE html>
<html>
<head>
    <title>TODO List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #007BFF;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        form {
            margin: 20px;
            text-align: center;
        }

        input[type="text"] {
            padding: 10px;
            width: 70%;
            border: 1px solid #007BFF;
            border-radius: 5px;
            outline: none;
        }

        button {
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>TODO List</h1>

    <form action="/addTask" method="post">
        <input type="text" name="task" placeholder="Добавить задачу">
        <button type="submit">Добавить</button>
    </form>

    <ul>
        <% tasks.forEach(function(task) { %>
            <li><%= task %></li>
        <% }); %>
    </ul>
</body>
</html>
